#puzzlearea{
    width: 416px;
    height: 416px;
    vertical-align: middle;
    position: relative;
    margin: 100px 0 0 -200px;
    top: 50%;
    left: 50%;
    /*overflow: hidden;*/
}
#controls > button{
    font-size: 14pt;
    font-family: cursive;
    text-align: center;
}

body {
    background-color: beige;
	font-size: 14pt;
}

h1 {
    font-family: cursive;
    font-size: 14pt;
    text-align: center;
}

p {
    font-family: cursive;
    font-size: 14pt;
    text-align: center;
}

div > div{
    margin: 0;
    border: 2px solid black;
    text-align: center;
    line-height: 100px;
	font-size: 40pt;
	font-family: cursive;
}

.adjacent:hover{
    border: 2px solid red;
    color: red;
    text-align: center;
    line-height: 100px;
}
#a1{


    background-position: 0px 0px;

}
#a2{


    background-position: -100px 0px;

}
#a3{

    background-position: -200px 0px;

}
#a4{

    background-position: -300px 0px;

    /*margin-right: 60%;*/
}
#a5{


    background-position: 0px -100px;

}
#a6{


    background-position: -100px -100px;

}
#a7{


    background-position: -200px -100px;

}
#a8{


    background-position: -300px -100px;

    /*margin-right: 60%;*/
}
#a9{

    background-position: 0px -200px;

}
#a10{

    background-position: -100px -200px;


}
#a11{

    background-position: -200px -200px;


}
#a12{

    background-position: -300px -200px;


    /*margin-right: 60%;*/
}
#a13{

    background-position: 0px -300px;

}
#a14{

    background-position: -100px -300px;


}
#a15 {

    background-position: -200px -300px;

}

